<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Bárbara Centeno</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>
        <header>
            <div class="links">
                <a href="/"> Sobre </a>
                <a href="/classes"> Viagens </a>
            </div>
        </header>

        {% block content %}

        {% endblock %}
        
    </body>
</html>